.nav-bar {
  background-color: #00264d;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  vertical-align: middle;
  align-items: center;
}

.nav-bar__item {
  display: inline-block;
}

.nav-logo {
  width: 120px;
}

#nav-temp-toggle {
  background-color: white;
  width: 170px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
